*{
    margin: 0;
    padding: 0;
}
.room__container{
    margin-top: 205%;
}


.room__container{
    margin-bottom: 5%;
  }
  
  .room__grid {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
  }
  
  .room__card {
    width: 380px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .room__card__image {
    position: relative;
    isolation: isolate;
  }
  .room__card__image  img{
    width: 100%;

  }
  .room__card__icons {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 1;
  }
  
  .room__card__icons span {
    display: inline-block;
    padding: 2px 8px;
    font-size: 1.5rem;
    background-color: white;
    height: 30px;
    width: 40px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }  
  .room__card__details {
    padding: 1rem;
  }
  
  .room__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color:#0c0a09;
  }
  
  .room__card p {
    margin-bottom: 0.5rem;
    color:  #78716c;
  }
  
  .room__card h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color:  #78716c;
  }
  
  .room__card h5 span {
    font-size: 1.1rem;
    color:#0c0a09;
  }

  
@media (max-width: 1200px) {
    .room__grid {
        flex-wrap: wrap;
    }
}
