.footer {
    background-color: #0c0a09;
    padding-top: 100px;
  }
  
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
    padding-bottom: 120px;
  }
  
  .footer__col .section__description {
    margin-block: 2rem;
  }
  
  .footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color:#ffffff;
  }
  
  .footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;
  }
  
  .footer__links a {
    color: #78716c;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
  }
  
  .footer__links a:hover {
    color: #ffffff;
  }
  
  .footer__socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .footer__socials img {
    max-width: 25px;
    opacity: 0.8;
    transition: 0.3s;
  }
  
  .footer__socials img:hover {
    opacity: 1;
  }
  
  .footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: #78716c;
    text-align: center;
  }
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

@media (max-width:900px) { 
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
}  
@media (max-width:680px) { 
    .footer__container {
      grid-template-columns: repeat(1, 1fr);
    }
}